
body{
    background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
  background-attachment:fixed;
  color:whitesmoke;
  text-shadow:1px 0.3px black;
  display:flex;
  min-height: 100vh;
  align-items: flex-start;
  justify-content: center;
  }
  h2{
    background-color: rgba(0, 0, 0, 0.316);
    border-radius:20px;
    box-shadow:1px 1px 4px black;
    width:100%;
    text-align: center;
  }
  .butn_grp{
    margin-top:50px;
    width:100%;
    display: flex;
    justify-content: center;
  }
  button{
    width:50%;
    margin:10px;
    border-radius:10px;
    cursor: pointer;
  }
  
  button:nth-child(1){
    background-color: rgba(152, 251, 152, 0.683);
  }
  button:nth-child(2){
    background-color: rgba(216, 112, 147, 0.683);
  }
  .quiz_container{
    margin-top:100px;
    display: flex;
    flex-wrap:wrap;
    flex-direction:column;
    align-items:center;
  }
  span{
    transition:0.2s;
    width:45%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.316);
    box-shadow:1px 1px 4px black;
    border-radius:20px ;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
  }
  span:hover{
    background-color:rgba(245, 222, 179, 0.431);
    color:black;
  }
  .question_options{
    justify-content: space-between;
    width:100%;
    display: flex;
    flex-wrap: wrap;
  }